
html{
    scroll-behavior: smooth;
}
.container{
    grid-template-columns: auto;
    grid-gap: 10px;
}
/*Header*/
#header {
    display: flex;
    background-color: #efe2ba; 
    flex-direction: column;
    align-items: center;
    padding:5px;  
}
#header h1{
    font-size: 5vw;
    font-weight: bold;    
    margin: 0px;
}
#header h2{    
    font-size: 2vw;
    font-weight: normal;
    margin-top: 10px;
}
/*End of Header*/

/*Menu*/ 
.HamburgerMenu {
    background-color: #d79922;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
  }
  
.HamburgerMenu ul {
    list-style: none;
    overflow: hidden;
    background-color: #d79922;
  }
  
.HamburgerMenu a {
    padding: 12px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
  
.HamburgerMenu a:hover,
.HamburgerMenu .button:hover {
    color: #f13c20;
  }
.HamburgerMenu a.active{
      color: #f13c20;
  }
.HamburgerMenu .menu {
    transition: max-height .3s ease-out;
    clear: both;
    max-height: 0;
  }
.HamburgerMenu .MenuIcon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    user-select: none;
  }
  
.HamburgerMenu .MenuIcon .Icon {
    background: #ffffff;
    width: 20px;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
  }
  
.HamburgerMenu .MenuIcon .Icon:before,
.HamburgerMenu .MenuIcon .Icon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
.HamburgerMenu .MenuIcon .Icon:before {
    top: 5px;
  }
  
.HamburgerMenu .MenuIcon .Icon:after {
    top: -5px;
  }
  
.HamburgerMenu .button {
    display: none;
  }
  
.HamburgerMenu .button:checked ~ .menu {
    max-height: 240px;
  }
  
.HamburgerMenu .button:checked ~ .MenuIcon .Icon {
    background: transparent;
  }
  
.HamburgerMenu .button:checked ~ .MenuIcon .Icon:before {
    transform: rotate(-45deg);
  }
  
.HamburgerMenu .button:checked ~ .MenuIcon .Icon:after {
    transform: rotate(45deg);
  }
  
.HamburgerMenu .button:checked ~ .MenuIcon:not(.steps) .Icon:before,
.HamburgerMenu .button:checked ~ .MenuIcon:not(.steps) .Icon:after {
    top: 0;
  }
@media screen and (min-width: 768px) {
    .HamburgerMenu{
        position: absolute;
      }
    .HamburgerMenu li {
      float: left;
      width: 25%;
    }
    .HamburgerMenu .menu {
      clear: none;
      max-height: none;
    }
    .HamburgerMenu .MenuIcon {
      display: none;
    }
}
/*End of Menu*/ 
/*Video Player*/
.videoplayer{
  width: 480px;
  height: 260px;
  margin-top: 100px;
  margin-left: 50vw;
  transform: translate(-50%);
  border-radius: 25px;
  border: 2px solid #d79922;
}
/*End of video player*/
body {
    background-color: #efe2ba;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*Articles & 5 reasons*/
  .main {
    display: flex;
    flex-direction: column-reverse;
    font-size: 30px;
    text-align: center;
    align-items: flex-start;   
  }
  .left {
    background-color: #c5cbe3;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 10px;
    flex: 80%;
    border-radius: 25px;
    border: 2px solid #d79922;
    padding: 20px;
    width: 75%;
  }
  .left p, h2{
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
  }
  .left h6{
    color: #F0F8FF;
    opacity: 50%;
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: none;
    text-align: left;
  }

  .left img{
    border: 2px solid #000;
    width: 400px;
}
  .right {
    background-color: #4052a1;
    margin-top: 20px;
    margin-right: 20px;
    flex: 20%;
    float: right;
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid #d79922;
    padding: 20px;
  }
  .right h2{
    margin-bottom: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;  
  }
  .right h3{
    margin-top: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }
  .right li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 30px;
    text-decoration: none;
    list-style-type: decimal;
    list-style-position: inside;
  }
  /*End of artices & 5 reasons*/
  /*Articles on how solar works*/
  .solarworks{
    margin-top: 100px;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
  }
  #solarworksarticle1{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 4;
  }
  #solarworksarticle2{
    background-color: #c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 3;

  }
  #solarworksarticle3{
    background-color: #c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 2;
  }
  #solarworksarticle5{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1;

  }
  /*End of Articles on how solar works*/
  /*  Photos*/
  .photos{
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    background-color: #4052a1;
    justify-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  #photo1{
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
  }
  #photo2{
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 200px;
  }
  #photo3{
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
  }
  /*Photos*/
  /*Table*/  
  .tablemain {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    align-items: flex-start;   
  }
  .tableleft {
    background-color: #c5cbe3;
    margin-top: 100px;
    margin-left: 20px;
    padding: 10px 10px;
    flex: 80%;
    border-radius: 25px;
    border: 2px solid #d79922;
    padding: 20px;
  }
  table, th, td {
    border: 1px solid black;
  }

  thead{
    font-size: 36px;
    background-color: #4052a1;
  }
  tfoot{
    font-size: 18px;
  }
  .priority-2{
    display:none;
  }
  .priority-1{
    display:none;
  }   
  /*End of Table*/
  /*Photos next to table*/
  .photosright {
    background-color: #4052a1;
    margin-top: 20px;
    margin-right: 20px;
    flex: 20%;
    float: right;
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid #d79922;
    padding: 20px;
  }
  .photosright img{
    width: 400px;
    height: auto;
    border: 2px solid #d79922;
  }
  /*End of Photos next to table*/
  /*Contact form*/  
    .contactmain {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      text-align: center;
      align-items: flex-start;       
    }
    .textbox{
      border: 1px solid #AAAAAA;
      margin: 8px 0;
      padding: 12px 18px;
    
  }
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  .contactform{
    background-color: #c5cbe3;
    margin-top: 100px;
    margin-left: 20px;
    padding: 10px 10px;
    flex: 80%;
    border-radius: 25px;
    border: 2px solid #d79922;
    padding: 20px;
    width: 75%;
  }
  .contactright {
    background-color: #4052a1;
    margin-top: 100px;
    margin-right: 20px;
    flex: 20%;
    float: right;
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid #d79922;
    padding: 20px;
  }
  .contactright img{
    width: 200px;
    height: auto;
    border: 2px solid #d79922;
  }
  form { 
    max-width:620px; 
    margin:20px auto;
   }
   legend{
     font-size: 48px;
   }
  .textbox label{
      display: block;
      text-align: left;
      color: #333;
      text-transform: uppercase;
      font-size: 14px;
  }
  .textbox input, .textbox textarea{
      width: 100%;
      border: none;
      background: #f5f5f5;
      outline: none;
      font-size: 18px;
      margin-top: 6px;
  }
  [type="submit"] {
    width: 100%;
    background:#d79922;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#4052a1; }
  /*End of Contact form*/  
  /*footer*/
  .footer{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    align-items: flex-start;
  }

  .copyright{
    background-color: #4052a1;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 10px;
    flex: 80%;
    border-radius: 25px;
    border-style: double;
    border-width: 2px;
    border-color: #d79922;
    padding: 20px;
    width: 75%;
  }

  .cookies{
    position: fixed;
    background-color:#FA0;
    opacity: 50%;
    bottom: 0;
    right: 0;
    width: 500px;
    z-index: 9999;
  }
  .cookies h3{
    color: #FFF;
    line-height: 5px;
  }
  /*end of footer*/

.content-desktop{display: none;}
.content-mobile{display: block;}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  
    .content-desktop {display: block;}
    .content-mobile {display: none;}

    .main {
      flex-direction: row;
    }
    .left img{
        width: 400px;
        float: left;
    }
    .videoplayer{
      width: 768px;
      height: 384px;
      margin-top: 100px;
      margin-left: 50vw;
      transform: translate(-50%);
      border-radius: 25px;
      border: 2px solid #d79922;
    }
    .solarworks{
      margin-top: 100px;
      font-size: 30px;
      text-align: center;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
      padding: 10px;
    }
    #solarworksarticle1{
      background-color:#c5cbe3;
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      grid-column: 1;
      grid-row: 1;
    }
    #solarworksarticle2{
      background-color:#c5cbe3;
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      grid-row: 1;
      grid-column: 2;
    }
    #solarworksarticle3{
      background-color:#c5cbe3;
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      grid-column: 1;
      grid-row: 2;
    }
    #solarworksarticle4{
      background-color:#c5cbe3;
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      grid-column: 2;
      grid-row: 2;

    }
    #solarworksarticle5{
      background-color:#c5cbe3;
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      grid-row: 2;
      grid-column: 2;
  
    }
    #solarworksarticle6{
      background-color:#c5cbe3;
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      grid-column: 1 / 3;
    }
    .photos{
      font-size: 30px;
      text-align: center;
      border-radius: 25px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      padding: 10px;
      background-color: #4052a1;
      justify-items: center;
    }
    #photo1{
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      height: 300px;
      width: 400px;
    }
    #photo2{
      border: 1px solid #d79922;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      height: 300px;
      width: 400px;
    }
    #photo3{
      border: 1px solid #4052a1;

      width: 0px;
      height: 0px;
    }
    .priority-2{
			display:none;
    }
    .priority-1{
      display: table-cell;
    }
    .priority-3{
      display: none;
    }
    .contactmain{
      flex-direction: row;
    }
    }
  
  @media screen and (min-width: 1200px) {
  
  .content-desktop {display: block;}
  .content-mobile {display: none;}
  .main {
    flex-direction: row;
  }
  .left img{
      width: 400px;
      float: right;
  }
  .videoplayer{
    width: 1200px;
    height: 600px;
    margin-top: 100px;
    margin-left: 50vw;
    transform: translate(-50%);
    border-radius: 25px;
    border: 2px solid #d79922;
  }
  .solarworks{
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
  }
  #solarworksarticle1{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 2;
    grid-row: 1 / 3;
  }
  #solarworksarticle2{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row: 1 / 2;
  }
  #solarworksarticle3{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 3;
  }
  #solarworksarticle4{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 3;
  }
  #solarworksarticle5{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row: 2 / 4;
    grid-column: 1;

  }
  #solarworksarticle6{
    background-color:#c5cbe3;
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 2 / 4;
  }
  .photos{
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 10px;
    background-color: #4052a1;
    justify-items: center;
  }
  #photo1{
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 300px;
    width: 400px;
  }
  #photo2{
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 300px;
    width: 400px;
  }
  #photo3{
    border: 1px solid #d79922;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
  }
  .priority-1{
    display:table-cell;
  }
  .priority-2{
    display:table-cell;
  }
  .tablemain {
    flex-direction: row;
  }
  .photosright {
    margin-top: 100px;
  }
.contactmain{
  flex-direction: row;
}
  }
  
